@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); } /* Se hace un poco más grande */
    100% { transform: scale(1); }
}

.pulsing {
  animation: pulse 1s infinite; /* duración 1s, se repite infinitamente */
    transform-origin: center;
}
